# Code quality
flake8>=7.0.0
flake8-docstrings>=1.7.0
pylint>=3.1.0
pre-commit>=3.6.0
black>=24.2.0
isort>=5.13.0

# Testing
pytest>=8.0.0
pytest-cov>=4.1.0

# Type checking
mypy>=1.8.0
typeguard>=3.0.0  # For runtime type checking